<%- include('./partials/header'); -%>

<div>
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About us</h1>
        <p class="lead text-muted mb-0">Students built this site as a capstone project. The Online Internship Aggregator (OIA) is a software centric deliverable produced following the research we undertook in ICT3020-Fundamentals of Software Engineering and Project Management.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">What We Do</h2>
        <p class="font-italic text-muted mb-4">We are artistic web developers with good knowledge of both front-end and back-end techniques. We love structure and order and we also stand for quality.</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Qualification</h2>
        <p class="font-italic text-muted mb-4">Pursuing Bachelor of Information and Communication Technologies in Education (B.Icts.Ed) at the University of Zambia.</p><a href="https://www.unza.zm" class="btn btn-light px-5 rounded-pill shadow-sm" target="_blank">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">THE Team</h2>
        <p class="font-italic text-muted">We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It is our love for work. We are its heart. We are not just a team, we are a family.</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQELFsLVjanUUQ/profile-displayphoto-shrink_200_200/0/1640631847667?e=1674691200&v=beta&t=Zt5fjxNQLYag2cGjPtJXpHtY05g-bI3S7nyG6Zk9Ah0" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Austin Monde</h5><span class="small text-uppercase text-muted">UI/UX - Engineer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://web.facebook.com/austin.monde.5" class="social-link" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/mondeaustin" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/austin_nehan_zm/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/austin-monde-948022218/" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/austinmonde" class="social-link" target="_blank"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars.githubusercontent.com/u/65413930?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Patrick Mwila</h5><span class="small text-uppercase text-muted">Full-Stack Engineer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://web.facebook.com/patrick.shred" class="social-link" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/ndinecoder" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/ndinecoder/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/patrick-mwila-52b6b220a/" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/patrickmwila" class="social-link" target="_blank"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars.githubusercontent.com/u/105084381?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Chabu Namwila</h5><span class="small text-uppercase text-muted">UI/UX - Engineer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://web.facebook.com/adora.namwila" class="social-link" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/NamwilaChabu" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/chabunamwila/?next=%2Ficalo_lifupa%2F" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/Chabu13" class="social-link" target="_blank"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars.githubusercontent.com/u/86367204?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Peter Tembo</h5><span class="small text-uppercase text-muted">UI/UX - Engineer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://web.facebook.com/profile.php?id=100010138446068" class="social-link" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/IcaloLifupa" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/icalo_lifupa/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/peter-tembo-33456b193/" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/michese365" class="social-link" target="_blank"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>

<%- include('./partials/footer'); -%>